<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5de6b48f-c924-46f7-8f59-e89a6683b8aa" Alias="careers" Level="2">
  <Info>
    <Name>Careers</Name>
    <Icon>icon-briefcase color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>careers</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="39211148-6e32-4fc2-815d-0b924210b1ba">careers</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>