<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="346fe4a6-a8cd-4976-8ede-179e2efbf196" Alias="formsData" Level="2">
  <Info>
    <Name>FormsData</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d76a1498-6bc7-4826-807d-2abcdbf913a1" SortOrder="0">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>