<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d6cea94-bcce-4aee-93c8-2a655044d99f" Alias="01.html" Level="3">
  <Info>
    <Parent Key="d62ad4d8-d1d1-47f1-a1c1-2e3362b04ef3">branding</Parent>
    <Path>/img/branding/html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:19</CreateDate>
    <NodeName Default="01.html" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m4bjptpj/01.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>