<?xml version="1.0" encoding="utf-8"?>
<Media Key="575ec4a6-902a-4ce8-a217-bf0ca2dc1fa8" Alias="05.jpg" Level="3">
  <Info>
    <Parent Key="d10d7578-a982-4c2a-abab-428bda17fdac">work</Parent>
    <Path>/img/work/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:55</CreateDate>
    <NodeName Default="05.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fehbrykd/05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>