<?xml version="1.0" encoding="utf-8"?>
<Media Key="699137aa-79dc-4b94-ac66-9dee38ff45d4" Alias="08.jpg" Level="3">
  <Info>
    <Parent Key="d10d7578-a982-4c2a-abab-428bda17fdac">work</Parent>
    <Path>/img/work/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:56</CreateDate>
    <NodeName Default="08.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ex4npx3v/08.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>