<?xml version="1.0" encoding="utf-8"?>
<Media Key="d862cf95-8455-40a3-8122-24c61ae24a93" Alias="21.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="21.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dicdi1r2/21.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>