<?xml version="1.0" encoding="utf-8"?>
<Media Key="91dda68d-c15a-4a43-836d-9d667cb81591" Alias="21.png" Level="4">
  <Info>
    <Parent Key="be08d0e9-cc3c-4d56-98bf-665c0130f042">member</Parent>
    <Path>/img/team/member/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:54</CreateDate>
    <NodeName Default="21.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ajwjwjzt/21.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>