<?xml version="1.0" encoding="utf-8"?>
<Media Key="58b8a0ba-fd93-4a3e-9fad-1e3b4eea5fe4" Alias="22.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="22.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gvvp31x0/22.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>