<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcfd01b2-f424-4223-8d9e-c419c63a38dd" Alias="24.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="24.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hxflwcsn/24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>