<?xml version="1.0" encoding="utf-8"?>
<Media Key="18d96c1f-72f5-46d7-ae7c-b29e18e5dd42" Alias="25.png" Level="4">
  <Info>
    <Parent Key="be08d0e9-cc3c-4d56-98bf-665c0130f042">member</Parent>
    <Path>/img/team/member/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:54</CreateDate>
    <NodeName Default="25.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sctj5lu2/25.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>