<?xml version="1.0" encoding="utf-8"?>
<Media Key="df9003c5-b8c2-4d29-b910-d3e3fa5dd42f" Alias="about-btn-text.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/aboutBtnTextpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:26</CreateDate>
    <NodeName Default="about-btn-text.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jlenm0nl/about-btn-text.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>