<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cc640e1-005a-46db-a97e-d95ac89dc8f7" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-27T21:37:10</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>