<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2e1c24a-1d7c-4178-84c0-300d4a50c88d" Alias="arrow-left.png" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/arrowLeftpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:48</CreateDate>
    <NodeName Default="arrow-left.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yuekobav/arrow-left.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>