<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7a8b0ca-8c40-47bc-a1d2-b77c6ec75df7" Alias="award-gold.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/awardGoldhtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="award-gold.html" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hhmfgz1h/award-gold.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>