<?xml version="1.0" encoding="utf-8"?>
<Media Key="30cb1787-d34f-43b5-9fe2-8714b8f7996f" Alias="behance.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/behancepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:26</CreateDate>
    <NodeName Default="behance.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bdoj1brg/behance.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>