<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb9e05ee-0130-4ad9-86ad-4ab1c7c7c081" Alias="blog-5.jpg" Level="3">
  <Info>
    <Parent Key="ace41c0f-461c-4ea1-b025-e6338060fb49">blog</Parent>
    <Path>/img/blog/blog5jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:36:34</CreateDate>
    <NodeName Default="blog-5.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mhhnqtkz/blog-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>