<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c151ef3-1eff-438a-a0fc-0a622bcc0dea" Alias="brand-3.png" Level="3">
  <Info>
    <Parent Key="d30c2e7a-67f8-4e0b-9f8d-37baa48cc4b5">brand</Parent>
    <Path>/img/brand/brand3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:16</CreateDate>
    <NodeName Default="brand-3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ptkfhguw/brand-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>