<?xml version="1.0" encoding="utf-8"?>
<Media Key="d62ad4d8-d1d1-47f1-a1c1-2e3362b04ef3" Alias="branding" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/branding</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:19</CreateDate>
    <NodeName Default="branding" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>