<?xml version="1.0" encoding="utf-8"?>
<Media Key="405df68c-7288-4470-a130-4f8474f1b4af" Alias="brand-3.png" Level="2">
  <Info>
    <Parent Key="05820433-bef3-4385-85a4-a056c7d9aa95">OurClientsLogos</Parent>
    <Path>/OurClientsLogos/brand3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T19:34:46</CreateDate>
    <NodeName Default="brand-3.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/am4bx3xb/brand-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>