<?xml version="1.0" encoding="utf-8"?>
<Media Key="d30c2e7a-67f8-4e0b-9f8d-37baa48cc4b5" Alias="brand" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/brand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:16</CreateDate>
    <NodeName Default="brand" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>