<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e6780a0-5b5d-49c5-a4fc-7529cb941a58" Alias="brand-2.png" Level="3">
  <Info>
    <Parent Key="d30c2e7a-67f8-4e0b-9f8d-37baa48cc4b5">brand</Parent>
    <Path>/img/brand/brand2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:16</CreateDate>
    <NodeName Default="brand-2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f3fcdobu/brand-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>