<?xml version="1.0" encoding="utf-8"?>
<Media Key="eddca057-1eb5-417c-aeb5-af2c53c2418a" Alias="brand-1.png" Level="3">
  <Info>
    <Parent Key="d30c2e7a-67f8-4e0b-9f8d-37baa48cc4b5">brand</Parent>
    <Path>/img/brand/brand1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:16</CreateDate>
    <NodeName Default="brand-1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1bvjuw42/brand-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>