<?xml version="1.0" encoding="utf-8"?>
<Media Key="883a98c6-8bd4-4b61-b1ed-ef50190ebe21" Alias="brush-paint.html" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/brushPainthtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:48</CreateDate>
    <NodeName Default="brush-paint.html" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gxymckht/brush-paint.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>