<?xml version="1.0" encoding="utf-8"?>
<Media Key="19afbd6a-dbbd-44ef-9525-3d059b7e4c8c" Alias="cover-bg.html" Level="3">
  <Info>
    <Parent Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8">bg</Parent>
    <Path>/img/bg/coverBghtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:35:18</CreateDate>
    <NodeName Default="cover-bg.html" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thkfjom0/cover-bg.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>