<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ebf5222-4ef4-4f1a-ba15-f81e856c7811" Alias="cursor-round.svg" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/cursorRoundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:48</CreateDate>
    <NodeName Default="cursor-round.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0dxb11hp/cursor-round.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>