<?xml version="1.0" encoding="utf-8"?>
<Media Key="72c6804d-fa11-4e29-8bd6-aa2ed05526ae" Alias="dot-bg.jpg" Level="3">
  <Info>
    <Parent Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8">bg</Parent>
    <Path>/img/bg/dotBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:35:18</CreateDate>
    <NodeName Default="dot-bg.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yjfibrdy/dot-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>