<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea603cf8-a117-4e61-9411-8bbe53492fc0" Alias="gallery-14.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery14jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-14.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o51cmxd4/gallery-14.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>