<?xml version="1.0" encoding="utf-8"?>
<Media Key="f066757e-2aab-45fa-a5f7-72ed99ec0796" Alias="gallery-13.jpg" Level="2">
  <Info>
    <Parent Key="0cc640e1-005a-46db-a97e-d95ac89dc8f7">About</Parent>
    <Path>/About/gallery13jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:37:48</CreateDate>
    <NodeName Default="gallery-13.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4g5darwc/gallery-13.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>