<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b9f0d60-c9cc-4940-a157-ac735b751d74" Alias="gallery-10.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery10jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-10.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/35dnthnf/gallery-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>