<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8596491-cebb-40b9-9108-e19464fb1b06" Alias="gallery-8.jpg" Level="2">
  <Info>
    <Parent Key="0cc640e1-005a-46db-a97e-d95ac89dc8f7">About</Parent>
    <Path>/About/gallery8jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:37:48</CreateDate>
    <NodeName Default="gallery-8.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d0xb4xws/gallery-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>