<?xml version="1.0" encoding="utf-8"?>
<Media Key="7204a489-15de-4c58-b38a-03436012b465" Alias="gallaxy.jpg" Level="3">
  <Info>
    <Parent Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8">bg</Parent>
    <Path>/img/bg/gallaxyjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:35:18</CreateDate>
    <NodeName Default="gallaxy.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/azxefrfx/gallaxy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>