<?xml version="1.0" encoding="utf-8"?>
<Media Key="48f72465-48ff-456b-b711-8a2af09ad4f5" Alias="gallery-2.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-2.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3lxld5uw/gallery-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>