<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5caf020-e3e9-4b89-9cee-1fcb27ec49ac" Alias="gallery-15.jpg" Level="2">
  <Info>
    <Parent Key="0cc640e1-005a-46db-a97e-d95ac89dc8f7">About</Parent>
    <Path>/About/gallery15jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:37:48</CreateDate>
    <NodeName Default="gallery-15.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v23iye2a/gallery-15.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>