<?xml version="1.0" encoding="utf-8"?>
<Media Key="3933890a-72b7-40be-a7a7-9eb24d716933" Alias="gallery-12.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery12jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-12.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qvbhld44/gallery-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>