<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e616813-09ce-4a5c-98b3-ce5abd760e20" Alias="h1-light.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h1Lightpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h1-light.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tsrcp4fh/h1-light.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>