<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9b00446-c031-4f7f-b5de-9e3adce5302b" Alias="h3-dark.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h3Darkpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h3-dark.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zhhpm10y/h3-dark.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>