<?xml version="1.0" encoding="utf-8"?>
<Media Key="47262e21-af51-46f9-9987-b939d915ced8" Alias="h3-light.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h3Lightpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h3-light.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v1sgb2jy/h3-light.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>