<?xml version="1.0" encoding="utf-8"?>
<Media Key="a59a3264-3b24-4c9c-ac9f-b5e7e3c600ac" Alias="hand.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/handpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:26</CreateDate>
    <NodeName Default="hand.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3p2nye0n/hand.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>