<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6095788-922c-4f31-a322-d86a20d14d4a" Alias="hero-5-btn.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/hero5Btnpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:26</CreateDate>
    <NodeName Default="hero-5-btn.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a4of4acf/hero-5-btn.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>