<?xml version="1.0" encoding="utf-8"?>
<Media Key="40bf1c82-3c82-4092-88a8-b17be649a4ca" Alias="img-3.png" Level="3">
  <Info>
    <Parent Key="7659080e-1cab-4a79-90e7-3dc341be9981">awards</Parent>
    <Path>/img/awards/img3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:35:18</CreateDate>
    <NodeName Default="img-3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bxlpt3xl/img-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>