<?xml version="1.0" encoding="utf-8"?>
<Media Key="5111fc47-ab35-4ced-a6fe-8a0d80ae0e9f" Alias="instagram.svg" Level="4">
  <Info>
    <Parent Key="daf92086-8a1f-4b34-94a1-248b814b95f6">social</Parent>
    <Path>/img/icons/social/instagramsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="instagram.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wvalhmzo/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>