<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca741a19-5eea-4b6f-b794-9ec8147209fb" Alias="king-cap.html" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/kingCaphtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:49</CreateDate>
    <NodeName Default="king-cap.html" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3jzi40wn/king-cap.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>