<?xml version="1.0" encoding="utf-8"?>
<Media Key="b428be70-b0ed-48da-9c72-85448001df7a" Alias="logo" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>