<?xml version="1.0" encoding="utf-8"?>
<Media Key="be08d0e9-cc3c-4d56-98bf-665c0130f042" Alias="member" Level="3">
  <Info>
    <Parent Key="e99801ea-6278-462e-adaa-6ee37dc84dd3">team</Parent>
    <Path>/img/team/member</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="member" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>