<?xml version="1.0" encoding="utf-8"?>
<Media Key="014784c3-968d-4c05-8f39-c97ea65f0faa" Alias="play-text-white.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/playTextWhitepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="play-text-white.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jrhadn5e/play-text-white.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>