<?xml version="1.0" encoding="utf-8"?>
<Media Key="b167d54e-e035-400c-95a7-7dca5b94b826" Alias="process-icon2.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/processIcon2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="process-icon2.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yepdcb02/process-icon2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>