<?xml version="1.0" encoding="utf-8"?>
<Media Key="9760af35-18fe-471d-bb9d-c5def220cbb1" Alias="project-7.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project7jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-7.jpg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xjsdmimx/project-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>