<?xml version="1.0" encoding="utf-8"?>
<Media Key="487a962b-1ea2-4818-96e3-727a77150b0e" Alias="project-10.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project10jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="project-10.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/urodz5wl/project-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>