<?xml version="1.0" encoding="utf-8"?>
<Media Key="01b817e8-3051-4cbf-85a7-c1bf8901b831" Alias="project-21.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project21html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-21.html" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dn5fhilw/project-21.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>