<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f6708d5-f993-496a-80d3-7ccc1c6007ad" Alias="project-15.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project15jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-15.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/llbcdkp0/project-15.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>