<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4cb4707-4823-42e5-9d8d-25e977b687eb" Alias="project-6.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-6.jpg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rcgj0ask/project-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>