<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d0bad4f-a563-4725-a22f-f34727d9b7d6" Alias="project-18.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project18jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-18.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ybtf14yk/project-18.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>