<?xml version="1.0" encoding="utf-8"?>
<Media Key="add04e4b-b2c3-4ef9-8305-7cbd402ae1be" Alias="project-4.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-4.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yscjmg3k/project-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>