<?xml version="1.0" encoding="utf-8"?>
<Media Key="c576e84d-621c-447c-937a-66367084c96c" Alias="project-20.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project20jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-20.jpg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yirda21v/project-20.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>