<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1308168-0e93-44ad-b5ff-4445adf1324d" Alias="projects" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>