<?xml version="1.0" encoding="utf-8"?>
<Media Key="19e6c316-4795-4b45-b736-986c859261e6" Alias="project-8.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project8jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-8.jpg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/teelbl52/project-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>