<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8c02042-70f6-4338-99d9-7a44d32b2176" Alias="project-3.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-3.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zxvim5u5/project-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>