<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd5ff839-e269-4bad-ab7b-6d5f57a5019d" Alias="project-17.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project17jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-17.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wyzbscya/project-17.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>