<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eade3b2-9e63-415b-b876-389f60b18454" Alias="send-message-text.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/sendMessageTextpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="send-message-text.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/huupx0ak/send-message-text.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>