<?xml version="1.0" encoding="utf-8"?>
<Media Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348" Alias="shapes" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/shapes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:48</CreateDate>
    <NodeName Default="shapes" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>