<?xml version="1.0" encoding="utf-8"?>
<Media Key="af469810-aacb-48a5-9fae-a741c8da10d0" Alias="sketch.svg" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/sketchsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="sketch.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ispitoq/sketch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>