<?xml version="1.0" encoding="utf-8"?>
<Media Key="daf92086-8a1f-4b34-94a1-248b814b95f6" Alias="social" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/social</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="social" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>