<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b5b357f-4698-44d4-bf53-62e7ea206ca5" Alias="strategy" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/strategy</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:51</CreateDate>
    <NodeName Default="strategy" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>