<?xml version="1.0" encoding="utf-8"?>
<Media Key="e99801ea-6278-462e-adaa-6ee37dc84dd3" Alias="team" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="team" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>