<?xml version="1.0" encoding="utf-8"?>
<Media Key="16ec8db5-ceb9-4fa7-adf6-1caf5161aa40" Alias="team-15.jpg" Level="3">
  <Info>
    <Parent Key="e99801ea-6278-462e-adaa-6ee37dc84dd3">team</Parent>
    <Path>/img/team/team15jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="team-15.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hjdlvigq/team-15.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>