<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a145208-3749-4d05-b639-3816e5d71fad" Alias="team-11.jpg" Level="2">
  <Info>
    <Parent Key="3a337a08-1049-40d0-9a4f-e9b947fd2d4a">Team</Parent>
    <Path>/Team/team11jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:11:16</CreateDate>
    <NodeName Default="team-11.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q4mfftba/team-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>