<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a337a08-1049-40d0-9a4f-e9b947fd2d4a" Alias="Team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-27T21:10:36</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>