<?xml version="1.0" encoding="utf-8"?>
<Media Key="734af953-0075-4ffe-9516-0c1faefc9903" Alias="team-5.jpg" Level="3">
  <Info>
    <Parent Key="e99801ea-6278-462e-adaa-6ee37dc84dd3">team</Parent>
    <Path>/img/team/team5jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="team-5.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1qzbzri2/team-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>