<?xml version="1.0" encoding="utf-8"?>
<Media Key="fad27c22-c12a-4190-be24-a61ce38dc016" Alias="team-6.jpg" Level="2">
  <Info>
    <Parent Key="3a337a08-1049-40d0-9a4f-e9b947fd2d4a">Team</Parent>
    <Path>/Team/team6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:11:16</CreateDate>
    <NodeName Default="team-6.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vw1jitcd/team-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>