<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e4b833c-6315-4087-99da-f81083b3d1fd" Alias="team-22.jpg" Level="3">
  <Info>
    <Parent Key="e99801ea-6278-462e-adaa-6ee37dc84dd3">team</Parent>
    <Path>/img/team/team22jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="team-22.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wneb0od2/team-22.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>