<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b415044-65ae-4ec5-8ef2-07662ea5656b" Alias="triangle3.png" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/triangle3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:49</CreateDate>
    <NodeName Default="triangle3.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zonap5oh/triangle3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>