<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4ff5b60-7491-40c1-ae7a-3c8e67c36e9b" Alias="v.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/vpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="v.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/34ilsaxy/v.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>