<?xml version="1.0" encoding="utf-8"?>
<Media Key="d10d7578-a982-4c2a-abab-428bda17fdac" Alias="work" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/work</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:55</CreateDate>
    <NodeName Default="work" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>