<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ae0bd8b-f7ff-4e08-a692-e3457f6ec122" Alias="ContactForm" Level="2">
  <Info>
    <Parent Key="f06ff774-c1ea-43bd-b97d-7f4bf76833f2">Forms</Parent>
    <Path>/Forms/ContactForm</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2025-10-05T18:05:02</CreateDate>
    <NodeName Default="ContactForm" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>