<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1dc16e7-5b5f-4e0c-964f-c774d0d5b7ec" Alias="Courses" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/Courses</Path>
    <Trashed>false</Trashed>
    <ContentType>courses</ContentType>
    <CreateDate>2025-10-03T05:31:26</CreateDate>
    <NodeName Default="Courses" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e3b6ce2-e4e2-42d6-af05-6f6a17620462">Courses</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <coursesHeaderImage1>
      <Value><![CDATA[[
  {
    "key": "814ec77e-514a-49d9-8690-c9e88c0c150f",
    "mediaKey": "11e81dab-f427-415f-a86a-314eea3bb5e3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </coursesHeaderImage1>
    <coursesHeaderImage2>
      <Value><![CDATA[]]></Value>
    </coursesHeaderImage2>
    <coursesHeaderTitle1>
      <Value><![CDATA[award wining]]></Value>
    </coursesHeaderTitle1>
    <coursesHeaderTitle2>
      <Value><![CDATA[agency]]></Value>
    </coursesHeaderTitle2>
    <coursesHeaderTitle3>
      <Value><![CDATA[& technology]]></Value>
    </coursesHeaderTitle3>
    <coursesSteps>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "c96ea06e-71bc-4618-90ff-6edd1f95ce2e",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Discovery"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your.\n"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "01"
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "26fbdab0-6ae0-4dbf-8342-e965d6f6e14a",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "02"
        },
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Planning"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your."
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "9f4fe1d4-bbb8-423e-8380-b69f14c16269",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Planning"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "03"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your."
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "eba9db9d-1a0d-4395-a39e-3514b89d0024",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Prototyping"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "04"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your."
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "711154e5-a9cb-42c2-bb57-cfc57981a731",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Engineering"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "05"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your."
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "0b08da39-3c93-4b99-837e-39eb4e8e179b",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testing"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "06"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your."
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "95c79c13-6218-43fe-b4f6-c4d8d069b787",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Delivery"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "07"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your.\n\n"
        }
      ]
    },
    {
      "contentTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "key": "22e51df2-c372-466e-aa06-04241b517f09",
      "udi": null,
      "values": [
        {
          "alias": "coursesStepName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Support"
        },
        {
          "alias": "coursesStepNo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "08"
        },
        {
          "alias": "coursesStepDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We immerse ourselves in your world to gain a comprehensive understanding of your."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c96ea06e-71bc-4618-90ff-6edd1f95ce2e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "26fbdab0-6ae0-4dbf-8342-e965d6f6e14a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9f4fe1d4-bbb8-423e-8380-b69f14c16269",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eba9db9d-1a0d-4395-a39e-3514b89d0024",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "711154e5-a9cb-42c2-bb57-cfc57981a731",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0b08da39-3c93-4b99-837e-39eb4e8e179b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "95c79c13-6218-43fe-b4f6-c4d8d069b787",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "22e51df2-c372-466e-aa06-04241b517f09",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c96ea06e-71bc-4618-90ff-6edd1f95ce2e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "26fbdab0-6ae0-4dbf-8342-e965d6f6e14a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9f4fe1d4-bbb8-423e-8380-b69f14c16269",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "eba9db9d-1a0d-4395-a39e-3514b89d0024",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "711154e5-a9cb-42c2-bb57-cfc57981a731",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0b08da39-3c93-4b99-837e-39eb4e8e179b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "95c79c13-6218-43fe-b4f6-c4d8d069b787",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "22e51df2-c372-466e-aa06-04241b517f09",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </coursesSteps>
    <coursesStepsTitle>
      <Value><![CDATA[8 steps to success]]></Value>
    </coursesStepsTitle>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>