<?xml version="1.0" encoding="utf-8"?>
<Content Key="f06ff774-c1ea-43bd-b97d-7f4bf76833f2" Alias="Forms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Forms</Path>
    <Trashed>false</Trashed>
    <ContentType>formsData</ContentType>
    <CreateDate>2025-10-05T18:04:48</CreateDate>
    <NodeName Default="Forms" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>