<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9dd44d2-682e-441c-8931-fdadaba790a3" Alias="gomaa38@gmail.com (1)" Level="3">
  <Info>
    <Parent Key="1ae0bd8b-f7ff-4e08-a692-e3457f6ec122">ContactForm</Parent>
    <Path>/Forms/ContactForm/gomaa38Gmailcom1</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-10-05T18:39:18</CreateDate>
    <NodeName Default="gomaa38@gmail.com (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[tert]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[Abdelrahman Gomaa]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[01114428882]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[rte]]></Value>
    </contactSubject>
  </Properties>
</Content>