<?xml version="1.0" encoding="utf-8"?>
<Content Key="28cdfc6c-3f4e-4926-8fd0-32fe1036adb1" Alias="Project 2" Level="3">
  <Info>
    <Parent Key="478df49b-100a-4f39-8538-a1b111b81604">Projects</Parent>
    <Path>/Home/Projects/Project2</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDetalis</ContentType>
    <CreateDate>2025-10-04T01:10:16</CreateDate>
    <NodeName Default="Project 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="228beac5-1b6c-4da5-ab37-bd58e1ae90d4">ProjectDetalis</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectCategory>
      <Value><![CDATA[Web developments]]></Value>
    </projectCategory>
    <projectDesc>
      <Value><![CDATA[One of the largest food retailers needed to automate inspection and maintenance processes in their stores and update their troubleshooting reports. Retail companies have notoriously complex requirements when it comes to ongoing maintenance, and manual inspections can limit the ability to report and verify current conditions. The choice of font and font size with which Lorem ipsum is reproduced answers to specific needs that go beyond the simple and simple filling of spaces dedicated to accepting real texts and allowing to have hands an advertising/publishing product, both web and paper, true to reality.

One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies. Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.

]]></Value>
    </projectDesc>
    <projectDescTitle>
      <Value><![CDATA[ Objective]]></Value>
    </projectDescTitle>
    <projectDevName>
      <Value><![CDATA[Gomaa]]></Value>
    </projectDevName>
    <projectImage>
      <Value><![CDATA[[
  {
    "key": "2359613b-ce7c-40b0-bdd5-6998199d0796",
    "mediaKey": "52daaa6f-6f89-4cba-b779-eb630fa1fb69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage>
    <projectMedia>
      <Value><![CDATA[[
  {
    "key": "740adc23-03f2-40ed-886a-a1abe5adacc0",
    "mediaKey": "041db95f-e0dc-440a-8ce5-487247de70fd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b23df2a0-b503-4757-bf22-80ff1bd9d987",
    "mediaKey": "d862cf95-8455-40a3-8122-24c61ae24a93",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cfa4214a-cdd2-4cdc-8751-bca8a965f282",
    "mediaKey": "758b6f3c-b40d-4dba-8619-23be4281e818",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b8076d0b-7af5-4711-bd6f-269251773d9c",
    "mediaKey": "174478eb-080a-4d78-93d0-94aa4445b29d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectMedia>
    <projectName>
      <Value><![CDATA[Web site for coworking space]]></Value>
    </projectName>
    <projectSummary>
      <Value><![CDATA[We showcased how our skilled hands and creative minds turn a concept into a fully-functional product. Here, you will discover satisfied clients with amazing stories!

]]></Value>
    </projectSummary>
    <projectType>
      <Value><![CDATA[Web developments with .Net]]></Value>
    </projectType>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>