<?xml version="1.0" encoding="utf-8"?>
<Media Key="0db5c3bf-d5d7-4845-a8d8-23f1ea3a2554" Alias="06.jpg" Level="3">
  <Info>
    <Parent Key="d10d7578-a982-4c2a-abab-428bda17fdac">work</Parent>
    <Path>/img/work/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:55</CreateDate>
    <NodeName Default="06.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gaepho34/06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>