<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdd20604-1e47-4b8f-b14b-c3a0d94baa8a" Alias="07.jpg" Level="3">
  <Info>
    <Parent Key="d10d7578-a982-4c2a-abab-428bda17fdac">work</Parent>
    <Path>/img/work/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:55</CreateDate>
    <NodeName Default="07.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rpgji4zo/07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>