<?xml version="1.0" encoding="utf-8"?>
<Media Key="174478eb-080a-4d78-93d0-94aa4445b29d" Alias="25.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="25.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mszafild/25.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>