<?xml version="1.0" encoding="utf-8"?>
<Media Key="7659080e-1cab-4a79-90e7-3dc341be9981" Alias="awards" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/awards</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:35:17</CreateDate>
    <NodeName Default="awards" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>