<?xml version="1.0" encoding="utf-8"?>
<Media Key="c85a30ed-1a6b-466a-9b43-9c813defa964" Alias="award-logo.png" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/awardLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="award-logo.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ml3by5qc/award-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>