<?xml version="1.0" encoding="utf-8"?>
<Media Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8" Alias="bg" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/bg</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:35:17</CreateDate>
    <NodeName Default="bg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>