<?xml version="1.0" encoding="utf-8"?>
<Media Key="ace41c0f-461c-4ea1-b025-e6338060fb49" Alias="blog" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/blog</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:36:33</CreateDate>
    <NodeName Default="blog" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>