<?xml version="1.0" encoding="utf-8"?>
<Media Key="47ecc59c-c614-41a7-a681-80cff7f55c93" Alias="blog-6.jpg" Level="3">
  <Info>
    <Parent Key="ace41c0f-461c-4ea1-b025-e6338060fb49">blog</Parent>
    <Path>/img/blog/blog6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:36:34</CreateDate>
    <NodeName Default="blog-6.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cmhlv2l3/blog-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>