<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa09922e-b6cd-4852-8b90-69da07956484" Alias="box-gradient-bg.jpg" Level="3">
  <Info>
    <Parent Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8">bg</Parent>
    <Path>/img/bg/boxGradientBgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:35:18</CreateDate>
    <NodeName Default="box-gradient-bg.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ufme4hfe/box-gradient-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>