<?xml version="1.0" encoding="utf-8"?>
<Media Key="0051f2f2-63e7-4f55-92f6-13630dc4fd32" Alias="brand-4.png" Level="3">
  <Info>
    <Parent Key="d30c2e7a-67f8-4e0b-9f8d-37baa48cc4b5">brand</Parent>
    <Path>/img/brand/brand4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:16</CreateDate>
    <NodeName Default="brand-4.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pu2bpnuo/brand-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>