<?xml version="1.0" encoding="utf-8"?>
<Media Key="975b8b33-eceb-4653-9cf2-b724ac7d63d2" Alias="brand-1.png" Level="2">
  <Info>
    <Parent Key="05820433-bef3-4385-85a4-a056c7d9aa95">OurClientsLogos</Parent>
    <Path>/OurClientsLogos/brand1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T19:34:46</CreateDate>
    <NodeName Default="brand-1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xrab0imc/brand-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>