<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca27945d-0352-4317-b642-34a4510fe0f1" Alias="brand-5.png" Level="2">
  <Info>
    <Parent Key="05820433-bef3-4385-85a4-a056c7d9aa95">OurClientsLogos</Parent>
    <Path>/OurClientsLogos/brand5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T19:34:46</CreateDate>
    <NodeName Default="brand-5.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0jpgc5b1/brand-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>