<?xml version="1.0" encoding="utf-8"?>
<Media Key="52daaa6f-6f89-4cba-b779-eb630fa1fb69" Alias="case-details.jpg" Level="3">
  <Info>
    <Parent Key="7c588ca0-ce65-417c-8a6f-389cb6d01a8f">portfolio</Parent>
    <Path>/img/portfolio/caseDetailsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:43</CreateDate>
    <NodeName Default="case-details.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2bqjzzha/case-details.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>