<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9bba607-e681-4434-8fff-7cbf3156f895" Alias="download-icon-.html" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/downloadIconHtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:48</CreateDate>
    <NodeName Default="download-icon-.html" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4theasng/download-icon.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>