<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f7ed385-04c3-4d07-a175-3055f135ede6" Alias="dribbble.svg" Level="4">
  <Info>
    <Parent Key="daf92086-8a1f-4b34-94a1-248b814b95f6">social</Parent>
    <Path>/img/icons/social/dribbblesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="dribbble.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o3xnzdoy/dribbble.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>