<?xml version="1.0" encoding="utf-8"?>
<Media Key="6685a6b9-8844-4ce7-9175-7cf5b2219def" Alias="error-404.html" Level="3">
  <Info>
    <Parent Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8">bg</Parent>
    <Path>/img/bg/error404html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:35:18</CreateDate>
    <NodeName Default="error-404.html" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jlhh3rtd/error-404.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>