<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f91a975-838a-44bf-8ba2-cff2487be28f" Alias="favicon.png" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/faviconpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:35:17</CreateDate>
    <NodeName Default="favicon.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5jrnpgpd/favicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>