<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5fb7e0c-cd26-4877-87c3-4a8312556cd8" Alias="gallery-25.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery25jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-25.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qo0l020p/gallery-25.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>