<?xml version="1.0" encoding="utf-8"?>
<Media Key="0566eb90-f064-4746-9822-36c85f04c5e7" Alias="gallery-3.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-3.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d2qdbmyn/gallery-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>