<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c801239-cb67-44c6-bb49-7ba02cc3b20a" Alias="gallery-17.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery17jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-17.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w1mmmoqo/gallery-17.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>