<?xml version="1.0" encoding="utf-8"?>
<Media Key="f939ef01-9385-4318-b169-0187fec88f57" Alias="gallery-5.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery5jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-5.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rysh4t5m/gallery-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>