<?xml version="1.0" encoding="utf-8"?>
<Media Key="43fe4be9-104c-4977-a8df-b265f8cc4fd8" Alias="gallery-9.jpg" Level="2">
  <Info>
    <Parent Key="0cc640e1-005a-46db-a97e-d95ac89dc8f7">About</Parent>
    <Path>/About/gallery9jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:37:48</CreateDate>
    <NodeName Default="gallery-9.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m0alr3jf/gallery-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>