<?xml version="1.0" encoding="utf-8"?>
<Media Key="320adc0c-d660-4bc5-8c57-58b7cf87f7f9" Alias="gallery-4.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-4.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qmlezbaj/gallery-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>