<?xml version="1.0" encoding="utf-8"?>
<Media Key="80886d8e-0957-43f2-98f4-08be3be90842" Alias="gallery-8.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery8jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-8.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/agtn2nr4/gallery-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>