<?xml version="1.0" encoding="utf-8"?>
<Media Key="1719b486-ac09-4b5e-b83a-f8b25421a944" Alias="gallery-1.jpg" Level="3">
  <Info>
    <Parent Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4">gallery</Parent>
    <Path>/img/gallery/gallery1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery-1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bf5f5ila/gallery-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>