<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd3ecfe9-d364-4f7f-a0e8-17eeae972ed4" Alias="gallery" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:22</CreateDate>
    <NodeName Default="gallery" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>