<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fce6940-c144-4055-8286-c5c382ffa19f" Alias="grid-line-3-dark.html" Level="3">
  <Info>
    <Parent Key="98bbc96f-3e50-43d9-98d8-146ea3f3e3a8">bg</Parent>
    <Path>/img/bg/gridLine3Darkhtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:35:19</CreateDate>
    <NodeName Default="grid-line-3-dark.html" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wmadl11d/grid-line-3-dark.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>