<?xml version="1.0" encoding="utf-8"?>
<Media Key="addf04e3-e27b-4f24-9ea7-913abfc17050" Alias="h1-dark.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h1Darkpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h1-dark.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nthjsgys/h1-dark.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>