<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e07856a-9cf6-4355-9055-e160c4a11b6a" Alias="h2-light.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h2Lightpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h2-light.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2vhfcke5/h2-light.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>