<?xml version="1.0" encoding="utf-8"?>
<Media Key="d63a61d6-470b-49a2-88ec-81d828efcb11" Alias="h6-dark.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h6Darkpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h6-dark.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lgvhyydc/h6-dark.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>