<?xml version="1.0" encoding="utf-8"?>
<Media Key="b681269b-fec9-47db-b720-2ca041211921" Alias="h6-light.png" Level="3">
  <Info>
    <Parent Key="89a4d902-dcae-4de2-b93a-c623d59acb89">home</Parent>
    <Path>/img/home/h6Lightpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="h6-light.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ctwmoafa/h6-light.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>