<?xml version="1.0" encoding="utf-8"?>
<Media Key="89a4d902-dcae-4de2-b93a-c623d59acb89" Alias="home" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:24</CreateDate>
    <NodeName Default="home" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>