<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9393242-ce37-4bca-8afa-69cc866cb9fe" Alias="icons" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:26</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>