<?xml version="1.0" encoding="utf-8"?>
<Media Key="f10e3ecb-e6a3-4aec-b804-9facd092a656" Alias="idea.png" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/ideapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="idea.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/it0eqr4k/idea.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>