<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf001658-7604-4c9c-907f-4eba5b9c0c15" Alias="idea.png" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/ideapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:49</CreateDate>
    <NodeName Default="idea.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/05oemcln/idea.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>