<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e24e4af-bb33-4f35-a983-d2b88155c1b3" Alias="idea.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/ideahtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="idea.html" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lsgn5lqu/idea.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>