<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e26ad44-9fd4-491c-b244-fa8124c0180f" Alias="img" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:35:17</CreateDate>
    <NodeName Default="img" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>