<?xml version="1.0" encoding="utf-8"?>
<Media Key="34bee25e-da75-44a6-a22b-9b2c14c0c804" Alias="line-bar.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/lineBarpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:26</CreateDate>
    <NodeName Default="line-bar.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0eupraq2/line-bar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>