<?xml version="1.0" encoding="utf-8"?>
<Media Key="7407e601-8a29-4622-a1be-4cabe5459ecc" Alias="logo-2.svg" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/logo2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo-2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4nnllfrs/logo-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>