<?xml version="1.0" encoding="utf-8"?>
<Media Key="d49b5510-a679-435b-aa9a-ecfb5e48b351" Alias="logo-icon-dark.svg" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/logoIconDarksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo-icon-dark.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ludsntc/logo-icon-dark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>