<?xml version="1.0" encoding="utf-8"?>
<Media Key="81f5d840-0cb3-4c0a-9af3-3dab7ec56a00" Alias="logo-white.svg" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/logoWhitesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo-white.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wjsfoy3i/logo-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>