<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c6827e1-f08e-48e8-a25f-dd8e694ffa5f" Alias="logo-dark.svg" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/logoDarksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo-dark.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/conmvduv/logo-dark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>