<?xml version="1.0" encoding="utf-8"?>
<Media Key="99539c6b-77a2-468a-a9f8-b62cc74e747d" Alias="logo-icon-white.svg" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/logoIconWhitesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo-icon-white.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/teqpc43z/logo-icon-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>