<?xml version="1.0" encoding="utf-8"?>
<Media Key="15db1032-e9f1-4fd3-8cc7-80aa2fa2064f" Alias="logo-light.html" Level="3">
  <Info>
    <Parent Key="b428be70-b0ed-48da-9c72-85448001df7a">logo</Parent>
    <Path>/img/logo/logoLighthtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:41</CreateDate>
    <NodeName Default="logo-light.html" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yf2cbnow/logo-light.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>