<?xml version="1.0" encoding="utf-8"?>
<Media Key="05820433-bef3-4385-85a4-a056c7d9aa95" Alias="OurClientsLogos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurClientsLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-27T19:34:40</CreateDate>
    <NodeName Default="OurClientsLogos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>