<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c588ca0-ce65-417c-8a6f-389cb6d01a8f" Alias="portfolio" Level="2">
  <Info>
    <Parent Key="5e26ad44-9fd4-491c-b244-fa8124c0180f">img</Parent>
    <Path>/img/portfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-03T23:37:43</CreateDate>
    <NodeName Default="portfolio" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>