<?xml version="1.0" encoding="utf-8"?>
<Media Key="423a8659-4389-4c6d-b739-0b308b47c618" Alias="process-icon4.png" Level="3">
  <Info>
    <Parent Key="d9393242-ce37-4bca-8afa-69cc866cb9fe">icons</Parent>
    <Path>/img/icons/processIcon4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="process-icon4.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0zghz3ha/process-icon4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>