<?xml version="1.0" encoding="utf-8"?>
<Media Key="7395734d-6bad-4016-b7df-f07c0fa30f5c" Alias="product-review-2.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/productReview2html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="product-review-2.html" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xynh3u2k/product-review-2.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>