<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f545224-ce34-4b8d-ad21-6c53c101fa9e" Alias="project-14.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project14html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="project-14.html" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/023k4lyt/project-14.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>