<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1f6eb03-c313-42d2-bf98-f002b6c17405" Alias="project-13.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project13html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="project-13.html" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4cbb0uju/project-13.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>