<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bcc9fee-1c35-4569-9dc7-27211d74d7cc" Alias="project-16.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project16html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-16.html" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dx1dpkys/project-16.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>