<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ee18084-c87b-4597-bb68-86e09193775f" Alias="project-11.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project11jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="project-11.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bnfkpsas/project-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>