<?xml version="1.0" encoding="utf-8"?>
<Media Key="758b6f3c-b40d-4dba-8619-23be4281e818" Alias="project-1.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:45</CreateDate>
    <NodeName Default="project-1.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wosn1q1e/project-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>