<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aff370d-3b3a-437f-9b48-222ed852fb2a" Alias="project-23.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project23html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-23.html" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5zpbioq3/project-23.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>