<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dad84b9-1c1b-4b6b-90d8-1596fe667283" Alias="project-2.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-2.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gzhoxc1s/project-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>