<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f19a44e-fcfb-4244-84e9-0d2478d6725c" Alias="project-5.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project5html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-5.html" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxgofh42/project-5.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>