<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab9c7413-0eef-40cf-99a0-6f831a830fce" Alias="project-9.jpg" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project9jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-9.jpg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ts5nuhmg/project-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>