<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b176d71-05b3-48c5-a6fd-20774a7670f2" Alias="project-22.html" Level="3">
  <Info>
    <Parent Key="d1308168-0e93-44ad-b5ff-4445adf1324d">projects</Parent>
    <Path>/img/projects/project22html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:46</CreateDate>
    <NodeName Default="project-22.html" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qicpzw2u/project-22.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>