<?xml version="1.0" encoding="utf-8"?>
<Media Key="25a26d3a-4ffe-47e6-8c60-9dbeda370691" Alias="section-title-star.png" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/sectionTitleStarpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:49</CreateDate>
    <NodeName Default="section-title-star.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wwtpje2x/section-title-star.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>