<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4a46f74-f24f-4b93-b808-2131b85f04ea" Alias="site-image-shape.png" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/siteImageShapepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:49</CreateDate>
    <NodeName Default="site-image-shape.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5ospe2rg/site-image-shape.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>