<?xml version="1.0" encoding="utf-8"?>
<Media Key="90c4c78a-1dc3-464f-a55c-601ef08658ff" Alias="spira-2.html" Level="3">
  <Info>
    <Parent Key="32decc5a-5b30-4a02-bf4e-c4dc1eed9348">shapes</Parent>
    <Path>/img/shapes/spira2html</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-03T23:37:49</CreateDate>
    <NodeName Default="spira-2.html" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pgxd4mhe/spira-2.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>