<?xml version="1.0" encoding="utf-8"?>
<Media Key="96ed9324-c201-42a8-aba1-318448c3e88a" Alias="strategy-02.jpg" Level="3">
  <Info>
    <Parent Key="7b5b357f-4698-44d4-bf53-62e7ea206ca5">strategy</Parent>
    <Path>/img/strategy/strategy02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:51</CreateDate>
    <NodeName Default="strategy-02.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vnmlwidi/strategy-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>