<?xml version="1.0" encoding="utf-8"?>
<Media Key="5140f2c9-fd8e-45ec-953c-6444a82e2a4b" Alias="team-15.jpg" Level="2">
  <Info>
    <Parent Key="3a337a08-1049-40d0-9a4f-e9b947fd2d4a">Team</Parent>
    <Path>/Team/team15jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-27T21:11:17</CreateDate>
    <NodeName Default="team-15.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iy2anz5h/team-15.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>