<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb80143d-6926-4ce3-acfc-8683e02c8e17" Alias="team-6.jpg" Level="3">
  <Info>
    <Parent Key="e99801ea-6278-462e-adaa-6ee37dc84dd3">team</Parent>
    <Path>/img/team/team6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="team-6.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wlpmm5kp/team-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>