<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d983e3b-3d65-434a-bf58-471ead1fb226" Alias="team-11.jpg" Level="3">
  <Info>
    <Parent Key="e99801ea-6278-462e-adaa-6ee37dc84dd3">team</Parent>
    <Path>/img/team/team11jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T23:37:53</CreateDate>
    <NodeName Default="team-11.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wt0n3gym/team-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>