<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbff087e-0082-4eef-a11e-0a1be1d7bb8d" Alias="twitter.svg" Level="4">
  <Info>
    <Parent Key="daf92086-8a1f-4b34-94a1-248b814b95f6">social</Parent>
    <Path>/img/icons/social/twittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-03T23:37:27</CreateDate>
    <NodeName Default="twitter.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rs0f0kmz/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>