<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b3a6b39-4f22-4bf2-a437-b0dae4b8af64" Alias="asoha7915@gmail.com" Level="3">
  <Info>
    <Parent Key="1ae0bd8b-f7ff-4e08-a692-e3457f6ec122">ContactForm</Parent>
    <Path>/Forms/ContactForm/asoha7915Gmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-10-05T18:39:59</CreateDate>
    <NodeName Default="asoha7915@gmail.com" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[asoha7915@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[das]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[soha adel]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[01025892094]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[dasd]]></Value>
    </contactSubject>
  </Properties>
</Content>