<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8a8863a-aa27-4498-a863-721600f678eb" Alias="Course 1" Level="3">
  <Info>
    <Parent Key="d1dc16e7-5b5f-4e0c-964f-c774d0d5b7ec">Courses</Parent>
    <Path>/Home/Courses/Course1</Path>
    <Trashed>false</Trashed>
    <ContentType>coursesDetails</ContentType>
    <CreateDate>2025-10-03T05:31:39</CreateDate>
    <NodeName Default="Course 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="53eb15dc-88d2-4fd8-9bcc-8ab4e3e41d95">CoursesDetails</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <course2Image>
      <Value><![CDATA[[
  {
    "key": "ef03b75d-076b-4e58-adc4-1fe7d21c8fc9",
    "mediaKey": "4b84127a-d5bf-43c5-931a-8d250ff25e1e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </course2Image>
    <course2Title>
      <Value><![CDATA[Our Approch]]></Value>
    </course2Title>
    <courseDesc>
      <Value><![CDATA[Axil is data-driven and performance-focused, paving the way for us to charge your business forward and accelerate your growth.]]></Value>
    </courseDesc>
    <courseFaQsTitle>
      <Value><![CDATA[FAQ on brand services]]></Value>
    </courseFaQsTitle>
    <courseHeroDesc>
      <Value><![CDATA[Creative work that reaches hearts and minds and inspires action is
the result of talent, understanding, refinement, and collaboration. As a Purpose
First™ agency, one of the first things we do at]]></Value>
    </courseHeroDesc>
    <courseHeroImage>
      <Value><![CDATA[[
  {
    "key": "37cb671f-6228-4ada-952d-21e14104de6c",
    "mediaKey": "43fe4be9-104c-4977-a8df-b265f8cc4fd8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </courseHeroImage>
    <courseHeroSubTitle>
      <Value><![CDATA[Building brands to build relationships.]]></Value>
    </courseHeroSubTitle>
    <courseHeroTitle>
      <Value><![CDATA[Crafting brands
that connect and inspire.]]></Value>
    </courseHeroTitle>
    <courseMainDesc>
      <Value><![CDATA[Great brands take time, care, and belief to create. We help you uncover your brand through a series of exercises, exploring concepts, and creating marketing]]></Value>
    </courseMainDesc>
    <courseMainImage>
      <Value><![CDATA[[
  {
    "key": "32f3e9c0-ed28-4271-803e-9e822e7a377d",
    "mediaKey": "ab9c7413-0eef-40cf-99a0-6f831a830fce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </courseMainImage>
    <courseMainTitle>
      <Value><![CDATA[Branding with Axil agency.]]></Value>
    </courseMainTitle>
    <coursePointsOut>
      <Value><![CDATA[Html
CSS
JS
JQuairy
PHP
MySQL
Final Project]]></Value>
    </coursePointsOut>
    <coursesFaQs>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cc67cb41-4186-4c15-867e-30b964e1a885",
      "key": "e9f2fb19-84a1-419b-8ed9-370547998cd4",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test1?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test1?Test1?Test1?Test1?Test1?Test1?"
        }
      ]
    },
    {
      "contentTypeKey": "cc67cb41-4186-4c15-867e-30b964e1a885",
      "key": "4c2ac69b-13ca-409e-9c39-41832cde5334",
      "udi": null,
      "values": [
        {
          "alias": "aboutFaqTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test2?"
        },
        {
          "alias": "aboutFaqAnswer",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test1?Test1?Test1?Test1?Test1?"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e9f2fb19-84a1-419b-8ed9-370547998cd4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c2ac69b-13ca-409e-9c39-41832cde5334",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e9f2fb19-84a1-419b-8ed9-370547998cd4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4c2ac69b-13ca-409e-9c39-41832cde5334",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </coursesFaQs>
    <coursName>
      <Value><![CDATA[Web developments]]></Value>
    </coursName>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>