<?xml version="1.0" encoding="utf-8"?>
<Content Key="92f0a887-63f1-43ca-9de8-3b88fbf58682" Alias="gomaa38@gmail.com" Level="3">
  <Info>
    <Parent Key="1ae0bd8b-f7ff-4e08-a692-e3457f6ec122">ContactForm</Parent>
    <Path>/Forms/ContactForm/gomaa38Gmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-10-05T18:39:00</CreateDate>
    <NodeName Default="gomaa38@gmail.com" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[dsf]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[Abdelrahman Gomaa]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[01114428882]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[fdsf]]></Value>
    </contactSubject>
  </Properties>
</Content>