<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0911fda-a843-4ea0-9151-7c9b12ef7863" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-08-24T23:24:12</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar">Home Page</Name>
      <Name Culture="en">Home Page</Name>
      <Name Culture="en-US">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">false</Published>
      <Published Culture="en">false</Published>
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template Key="456431e5-3815-49d4-b13e-aab9e231b1ad">homePage</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <footerAddress>
      <Value><![CDATA[3 Abou Dawoud, El-Zahery, Nasr City, Cairo]]></Value>
    </footerAddress>
    <footerCopy>
      <Value><![CDATA[Copyright © 2018 Array]]></Value>
    </footerCopy>
    <footerHours>
      <Value><![CDATA[Weekdays from 10:00 AM to 06:00 PM.]]></Value>
    </footerHours>
    <footerInfo1>
      <Value><![CDATA[Address]]></Value>
    </footerInfo1>
    <footerInfo2>
      <Value><![CDATA[Call us]]></Value>
    </footerInfo2>
    <footerInfo3>
      <Value><![CDATA[Mail]]></Value>
    </footerInfo3>
    <footerInfo4>
      <Value><![CDATA[Working Hour]]></Value>
    </footerInfo4>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "fc665860-6541-453c-beab-fcf76de642a2",
    "mediaKey": "0db0a6d0-515e-4008-a6f5-78362ca4a467",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <footerMail>
      <Value><![CDATA[Array@gmail.com]]></Value>
    </footerMail>
    <footerNumber>
      <Value><![CDATA[01020725722]]></Value>
    </footerNumber>
    <footerPowerd>
      <Value><![CDATA[Made by Digidoo]]></Value>
    </footerPowerd>
    <footerTitle1>
      <Value><![CDATA[Courses]]></Value>
    </footerTitle1>
    <footerTitle2>
      <Value><![CDATA[Menu]]></Value>
    </footerTitle2>
    <footerTitle3>
      <Value><![CDATA[Our Vission]]></Value>
    </footerTitle3>
    <headerDesc>
      <Value><![CDATA[Lift is a full-service, award-winning digital
agency with expertise in brand & digital
strategy, design, and user experience
]]></Value>
    </headerDesc>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "9196b8e5-ba45-4308-825b-b777131b6f5b",
    "mediaKey": "0db0a6d0-515e-4008-a6f5-78362ca4a467",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <headerTitle1>
      <Value><![CDATA[UNIQUE]]></Value>
    </headerTitle1>
    <headerTitle2>
      <Value><![CDATA[WEB/GRAPHIC]]></Value>
    </headerTitle2>
    <headerTitle3>
      <Value><![CDATA[DESIGN]]></Value>
    </headerTitle3>
    <headerTitle4>
      <Value><![CDATA[EXPERIENCE]]></Value>
    </headerTitle4>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <homeAboutDesc>
      <Value><![CDATA[We partner with content-driven tech startups to make them independent of their IT and empower them with a future-proof and scalable website. agenzia is the leading 3PL operator of the entire Central Asia, and the largest operator of the network of industrial logistic parks We mix our genuine love for design with our tenacious dedication to detail and craft.

]]></Value>
    </homeAboutDesc>
    <homeAboutLeftBanner>
      <Value><![CDATA[AWARD-WINNING UX/UI Design
 AWARD-WINNING UX/UI Design]]></Value>
    </homeAboutLeftBanner>
    <homeAboutRightBanner>
      <Value><![CDATA[NUMBER #1 DIGITAL AGENCY IN TOWN
NUMBER #1 DIGITAL AGENCY IN TOWN]]></Value>
    </homeAboutRightBanner>
    <homeAboutTitle>
      <Value><![CDATA[About us]]></Value>
    </homeAboutTitle>
    <homeBlogTitle>
      <Value><![CDATA[Latest News]]></Value>
    </homeBlogTitle>
    <homeBolgSubTitle>
      <Value><![CDATA[Blog & news]]></Value>
    </homeBolgSubTitle>
    <homeCoursesSubTitle>
      <Value><![CDATA[what we do]]></Value>
    </homeCoursesSubTitle>
    <homeCoursesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </homeCoursesTitle>
    <homeProcessSubTitle>
      <Value><![CDATA[THOUGHTFUL PROCESS]]></Value>
    </homeProcessSubTitle>
    <homeProcessTitle>
      <Value><![CDATA[Our Working Process]]></Value>
    </homeProcessTitle>
    <homeProjectCardSubTitle>
      <Value><![CDATA[Want to know understand the digital health of your business? Book a free 30 minute slot below or speak right now. the world is not sweet enough to change just by explaining it in words. Therefore, by steadily and concretely taking action.

]]></Value>
    </homeProjectCardSubTitle>
    <homeProjectCardTitle>
      <Value><![CDATA[Book your free consultation]]></Value>
    </homeProjectCardTitle>
    <homeProjectTitle>
      <Value><![CDATA[Our Students Projects]]></Value>
    </homeProjectTitle>
    <homeTeamDesc>
      <Value><![CDATA[Lift is a full-service, award-winning digital agency with expertise in brand & digital strategy, design, and user experience]]></Value>
    </homeTeamDesc>
    <homeTeamSubTitle>
      <Value><![CDATA[awesome team]]></Value>
    </homeTeamSubTitle>
    <homeTeamTitle>
      <Value><![CDATA[Our Core Team Members]]></Value>
    </homeTeamTitle>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </pageTitle>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[
  "weekly"
]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="en-US"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>