<?xml version="1.0" encoding="utf-8"?>
<Content Key="478df49b-100a-4f39-8538-a1b111b81604" Alias="Projects" Level="2">
  <Info>
    <Parent Key="b0911fda-a843-4ea0-9151-7c9b12ef7863">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2025-10-03T21:47:07</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0fb76e46-c578-4cfe-bc36-bb31f5786377">Projects</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value><![CDATA[]]></Value>
    </Canonical>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[]]></Value>
    </OGImage>
    <OGLocale>
      <Value><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value><![CDATA[]]></Value>
    </OGURL>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectsBannerName1>
      <Value><![CDATA[Total Years in Business]]></Value>
    </projectsBannerName1>
    <projectsBannerName2>
      <Value><![CDATA[Unique Clients we serve]]></Value>
    </projectsBannerName2>
    <projectsBannerName3>
      <Value><![CDATA[World wide Total branch]]></Value>
    </projectsBannerName3>
    <projectsBannerNo1>
      <Value><![CDATA[20+]]></Value>
    </projectsBannerNo1>
    <projectsBannerNo2>
      <Value><![CDATA[450+]]></Value>
    </projectsBannerNo2>
    <projectsBannerNo3>
      <Value><![CDATA[100+]]></Value>
    </projectsBannerNo3>
    <projectsBannerVideoLink>
      <Value><![CDATA[]]></Value>
    </projectsBannerVideoLink>
    <projectsHeaderDesc>
      <Value><![CDATA[We showcased how our skilled hands and creative minds turn a concept into a fully-functional product. Here, you will discover satisfied clients with amazing stories!

]]></Value>
    </projectsHeaderDesc>
    <projectsHeaderTitle>
      <Value><![CDATA[Amazing­ stories !]]></Value>
    </projectsHeaderTitle>
    <projectsLeftBanner>
      <Value><![CDATA[Web development
Flutter
AI
UIUX
Cyber Security]]></Value>
    </projectsLeftBanner>
    <projectsMainBgWord>
      <Value><![CDATA[Students Projects]]></Value>
    </projectsMainBgWord>
    <projectsMainTitle>
      <Value><![CDATA[featured work]]></Value>
    </projectsMainTitle>
    <projectsRightBanner>
      <Value><![CDATA[Cyber Security
Web
HTML
Dart
DOT NET
PHP
MySQL
SSMS
Docker]]></Value>
    </projectsRightBanner>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>