<?xml version="1.0" encoding="utf-8"?>
<Content Key="96619574-73d4-458c-9627-b640a31cbc4d" Alias="Test" Level="3">
  <Info>
    <Parent Key="1ae0bd8b-f7ff-4e08-a692-e3457f6ec122">ContactForm</Parent>
    <Path>/Forms/ContactForm/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>contactItem</ContentType>
    <CreateDate>2025-10-05T18:05:27</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[gomaa38@gmail.com]]></Value>
    </contactEmail>
    <contactMessage>
      <Value><![CDATA[]]></Value>
    </contactMessage>
    <contactName>
      <Value><![CDATA[Test]]></Value>
    </contactName>
    <contactPhoneNumber>
      <Value><![CDATA[23423]]></Value>
    </contactPhoneNumber>
    <contactSubject>
      <Value><![CDATA[Test]]></Value>
    </contactSubject>
  </Properties>
</Content>