<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7eec574-5ef9-4385-a0fd-0be8d7a4a766" Alias="About -  - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About -  - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>