<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94e5cf2e-f00a-4cdb-b1e5-1fb8e409a6c0" Alias="About - AboutOurClients - Block List Property Editor UI (1)" Level="1">
  <Info>
    <Name>About - AboutOurClients - Block List Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3e878eaf-3835-4a81-8db3-6bc70550548e",
      "label": "{=aboutOurClientName}"
    }
  ]
}]]></Config>
</DataType>