<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e973412b-13f6-4db8-b2c9-0ff6513b2cca" Alias="Courses Details - CourseFAQs - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Courses Details - CourseFAQs - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cc67cb41-4186-4c15-867e-30b964e1a885",
      "label": "{=aboutFaqTitle}"
    }
  ]
}]]></Config>
</DataType>