@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
         var content = (ContentModels.AboutTestimonial)Model.Content;
    
}

        <div class="swiper-slide">
            <div class="brand-testimonial-item">
                <div class="brand-testimonial-content">
                    <div class="brand-testimonial-icon">
                        <span>
                            <svg width="40" height="40" viewBox="0 0 40 40"
                                  fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.83492 18.3628C10.1862 15.6992 12.5408 13.2883 16.8477 11.1873L17.6232 10.809L14.4436 4.93866L13.7258 5.30249C4.61805 9.91928 0 16.4439 0 24.6953C0 27.5423 0.90375 30.0012 2.68633 32.0039C4.49391 34.0344 6.6875 35.0641 9.20664 35.0641C11.4702 35.0641 13.3895 34.258 14.9114 32.6681C16.4234 31.0884 17.19 29.1263 17.19 26.8362C17.19 24.6721 16.4156 22.7435 14.8884 21.104C13.5413 19.6578 11.844 18.7379 9.83492 18.3628ZM13.7164 31.5243C12.5019 32.7931 11.0267 33.4098 9.20664 33.4098C7.15156 33.4098 5.42297 32.5901 3.92211 30.904C2.39602 29.1896 1.65414 27.1587 1.65414 24.6952C1.65414 20.9134 2.71906 17.4991 4.81914 14.5473C6.82297 11.731 9.82844 9.24452 13.7598 7.14889L15.3527 10.0897C10.562 12.6001 8.13476 15.618 8.13476 19.0681V19.8069L8.86875 19.89C10.8459 20.1138 12.4188 20.8797 13.678 22.2314C14.928 23.5734 15.5358 25.0798 15.5358 26.8361C15.5359 28.7117 14.9406 30.2451 13.7164 31.5243Z"
                                      fill="#14CF93" />
                                <path d="M32.2817 18.3653C32.6288 15.6995 34.964 13.2873 39.2363 11.1861L40 10.8106L36.8994 4.93604L36.1745 5.30182C27.0251 9.91838 22.386 16.4433 22.386 24.6953C22.386 27.5442 23.3013 30.0044 25.1064 32.0076C26.934 34.0356 29.1366 35.064 31.6538 35.064C33.9201 35.064 35.8306 34.2564 37.3323 32.6636C38.821 31.0846 39.5759 29.1239 39.5759 26.8361C39.5759 24.672 38.8016 22.7434 37.2745 21.1039C35.9302 19.6609 34.2533 18.7417 32.2817 18.3653ZM36.1288 31.5288C34.9353 32.7946 33.4716 33.4099 31.6538 33.4099C29.5966 33.4099 27.857 32.5891 26.3352 30.9003C24.7908 29.1864 24.0401 27.1568 24.0401 24.6953C24.0401 20.9142 25.1098 17.5004 27.2192 14.5489C29.232 11.7332 32.2504 9.24713 36.1984 7.15174L37.7481 10.088C32.992 12.5993 30.5821 15.6178 30.5821 19.0682V19.8053L31.3142 19.8899C33.2508 20.1134 34.8044 20.8793 36.0641 22.2315C37.3142 23.5735 37.9218 25.0796 37.9218 26.8362C37.9219 28.7142 37.3353 30.2492 36.1288 31.5288Z"
                                      fill="#14CF93" />
                            </svg>
                        </span>
                    </div>
                    <p>
                      @content.Value("aboutTestimonialDesc")
                    </p>
                </div>
                <div class="testimonial-author">
                    <h4>@content.Value("aboutTestimonialName")</h4>
                    <p>@content.Value("aboutTestimonialPostion")</p>
                </div>
            </div>
        </div>
