<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b223a54-1d34-4f18-a258-4de14cc9d28f" Alias="About - AboutTestimonials - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About - AboutTestimonials - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fc27df83-2170-44e8-8ac8-838dcee32c49",
      "label": "{=AboutTestimonialName}"
    }
  ]
}]]></Config>
</DataType>