<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a41dbad-ba0d-456f-b2bd-b1a1440f0aa6" Alias="About - AboutOurClients - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About - AboutOurClients - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>