<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d0de31d-0000-4f3a-8f3e-f2cb8fb97eb6" Alias="About - AboutOurTeams - Block List Property Editor UI (1)" Level="1">
  <Info>
    <Name>About - AboutOurTeams - Block List Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "51d2c69f-4e14-4fe1-a398-fcbf2d91ea58",
      "label": "{=aboutOurTeamName}"
    }
  ]
}]]></Config>
</DataType>