<?xml version="1.0" encoding="utf-8"?>
<DataType Key="098c7efc-6974-4ffb-813a-d687b0df9b5d" Alias="Courses Details - CoursesDetPointsOut - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Courses Details - CoursesDetPointsOut - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 10,
  "min": 0
}]]></Config>
</DataType>