<?xml version="1.0" encoding="utf-8"?>
<DataType Key="825ae376-3956-4e91-823d-b6b40c0c1cef" Alias="Courses - CoursesSteps - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Courses - CoursesSteps - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "91244585-7a6f-48c3-a5c5-00a5fdccf7b9",
      "label": "{=coursesStepNo}"
    }
  ]
}]]></Config>
</DataType>