<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a743097f-bb14-44c4-8061-c49acf5b5f7d" Alias="Projects - ProjectsRightBanner - Multiple Text String Property Editor UI (1)" Level="1">
  <Info>
    <Name>Projects - ProjectsRightBanner - Multiple Text String Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>