<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d76a1498-6bc7-4826-807d-2abcdbf913a1" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fdd3799e-eb79-4b45-9ac9-1188ecb30ed1" SortOrder="0">contactItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>